body,
input,
button,
select,
textarea,
.navbar .search {
  font-family: Georgia, "Times New Roman", Times, serif;
}



#content {
    margin-top: 5px;
    border-right: thin solid #e6e6e6;
}

hr{
    border-color: #e6e6e6;
}

#current-sidebar {
    margin-top: 5px;
}

#current-navbar{
    background-color: #e6e6e6;
}

/*.navbar a {
    color: white;
}*/