Papers/SoP/FelipeGutierrezSoP.bbl
Papers/SoP/FelipeGutierrezSoP.blg
Papers/SoP/FelipeGutierrezSoP.dvi
Papers/SoP/FelipeGutierrezSoP.log
Papers/SoP/FelipeGutierrezSoP.out
Papers/SoP/FelipeGutierrezSoP.ps
Papers/SoP/FelipeGutierrezSoP.synctex.gz
texput.log
*.aux
*.dvi
*.blg
*.log
*.out
*.gz
*.toc
Papers/TR-MeshToPointCloudTool/figures
*.synctex
